{% extends 'base.html' %}

{% block title %} All Products {% endblock %}

{% block content %}
<style type="text/css">
#hero{
    display:table;
    width: 100vw;
    height: 60vh;
    background: url(/media/products/Prodpic.jpg) top center;
    background-size: cover;
}
@media (min-width: 1024px){
    #hero{
        background-attachment: fixed;
    }
}

#hero .hero-logo{
    margin: 20px;
    max-width: 100%;
}
#hero .hero-container{
    background: rgba(0,0,0,0.2);
    display: table-cell;
    margin: 0;
    padding:0;
    text-align: center;
    vertical-align: middle;
}
#hero h1{
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
}
@media (max-width: 768px){
    #hero h1{
        font-size: 28px;
        line-height: 36px;
    }
}
#hero h2{
    color: #fff;
    margin-bottom: 50px;
    font-style: italic;
}
@media (max-width: 768px){
    #hero h2{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    
}
#hero .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero .btn-get-started{
    background: #ebe703;
    border: 2px solid #a85303;
    color: #fff;
}
#hero .btn-get-started:hover{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
</style>
<section id="hero">
    <div class="hero-container">
        <div class="hero-logo">
            <h1 class="font-weight-bold">Our Products</h1>
        </div>
        </div>
</section>
<br>
<div class="container">
    {% for cat in allcategories %}
    <h4 style="color: #FFA07A;">{{cat.title}} - Recomended Items</h4>
    <div class="row">
        {% for p in cat.product_set.all %}
        <div class="col-md-3 card">
            <div class="m-4">
                <h4 style="color:rosybrown;">{{p.title}}</a></h4>
                <img src="{{p.image.url}}" alt="" class="img-fluid" style="height: 2500; object-fit: cover;">
                <p class="mt-3"><strong>Price:</strong> <strike>Rs. {{p.marked_price}}</strike> <strong>Rs. {{p.selling_price}}</strong></p>
                <p class="mt-3">{{p.description | slice:"0:19"}}</p>
                <div class="row">
                <a href="{% url 'ecom:addtocart' p.id %}" class="btn btn-primary">Add To Cart</a>
                &nbsp;
                <a href="{% url 'ecom:productdetail' p.slug %}" class="btn btn-warning">QuickVeiw</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}